<div class="grid grid-cols-12 gap-x-6 gap-y-2">
  <div class="col-start-2 col-span-9 bg-red-400">
    <h1 class="text-2xl font-extrabold">Occupants</h1>

    <%= render "shared/table", 
            head: 'non_occupants_head', 
            item_row:  'non_occupants_rows', 
            collection: @non_occupants %>
    <br>
    <%== pagy_nav(@pagy) %>

    <hr class="border-1 border-gray-700" />
    <br>

    <%= link_to 'New Occupant', new_occupant_path, class: "text-lg font-medium hover:font-extrabold" %> 
  </div>
</div>