<div class="grid grid-cols-1 sm:grid-cols-6 mt-2 gap-x-6 gap-y-2">
  <div class="col-start-1 col-end-6 sm:col-start-2">

    <h1 class="text-2xl font-extrabold">Phones</h1>

    <%= 
      render "shared/table", 
            head: 'phones_head', 
            item_row:  'phones_row', 
            collection: @phones 
    %>

    <br>
    <%== pagy_nav(@pagy) %>

    <hr class="border-1 border-gray-700 cursor-pointer hover:border-red-500" />
    <br>

    <%= link_to 'New Phone', new_phone_path, class: "text-lg font-medium hover:font-extrabold" %> 

  </div>
</div>