<div class='grid grid-cols-1'>
  <div class='col-span-full'>
    <dl>
      <div class='grid grid-cols-[150px_200px]'>
        <dt class='mx-2 text-gray-700 text-base font-sans font-bold'><%= label %>: </dt>
        <dd class='text-gray-700 text-base font-sans break-normal'><%= attribute %></dd>
      </div>
    </dl>
  </div>
</div>
