<div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3'>
  <div class='col-span-full'>
    <dl>
      <div class='grid grid-cols-1'>
        <dt class='mx-2 text-gray-700 text-base font-sans font-bold'><%= label %>:</dt>
        <dd class='mx-2 text-gray-700 text-base font-sans break-normal'><%= attribute %></dd>
      </div>
    </dl>
  </div>
</div>


