<div class='row-start-4 mt-2'>
  <div class='grid grid-cols-2'>
    <div class='col-start-1 col-end-2'>
      <button class='mt-2'>
        <%= f.submit 'Search', class: "w-full text-center px-2 pt-2 pb-3 rounded bg-indigo-400 text-white hover:bg-green-600 focus:outline-none" %>
      </button>
    </div>
    <div class='col-start-2 col-end-4 pt-4 pl-4'>
      <%= link_to "Clear", request.path, class:"cancel-button" %>
    </div>
  </div>
</div>
