      <button class='mt-2'>
        <%= f.submit 'Search', class: "w-full text-center px-2 pt-2 pb-3 rounded bg-indigo-400 text-white font-sans hover:bg-green-600 focus:outline-none" %>
      </button>

      <%= link_to "Clear", request.path, class:"cancel-button ml-6 font-sans" %>
