    <div class="max-w-3xl mb-5">
      <h1 class="text-2xl font-extrabold">Edit Position</h1>

      <%= render 'shared/form', mdl: @position, editing: true %>

      <hr class="border-1 border-gray-700" />

      <%= link_to 'Details', @position, class: "text-lg link-hover" %> |
      <%= link_to 'Positions List', positions_path, class: "text-lg link-hover" %>
    </div>
