<div class="grid grid-cols-12 gap-x-6 gap-y-2">
  <div class="col-start-2 col-span-9 bg-red-400">
    <h1 class="text-2xl font-extrabold">Positions</h1>

    <%= render "shared/table", 
            head: 'positions_head', 
            item_row:  'positions_row', 
            collection: @positions %>
    <br>
    <%== pagy_nav(@pagy) %>

    <hr class="border-1 border-gray-700" />
    <br>

    <%= link_to 'New Position', new_position_path, class: "text-lg font-medium hover:font-extrabold" %> 
  </div>
</div>