  <div class='flex flex-row flex-nowrap justify-end w-full mb-3 mt-1 py-1'>
    <div class=''>
      <% if mdl.instance_path %>
        <%= render "shared/new_edit/show_btn", path: mdl.instance_path %>
      <% end %>

      <%= render "shared/new_edit/back_btn", path: mdl.collection_path %>

      <% if mdl.belongs_to_path %>
        <%= render "shared/new_edit/person_btn", path: mdl.belongs_to_path, label: mdl.belongs_to_name %>
      <% end %>
    </div>
  </div>
