<div class="w-full mb-5 rounded-lg bg-red-200">
  <h1 class="mx-2 text-2xl font-sans font-extrabold">Edit Person</h1>

  <%= render 'form', mdl: @person, editing: true %>

  <hr class="border-1 border-gray-700" />

  <%= link_to 'Person Detail', person_path(@person), class: "mx-2 text-lg link-hover" %> |
  <%= link_to 'People List', people_path, class: "text-lg link-hover" %>
</div>