<div class='flex flex-col sm:flex-row items-center justify-center'>
  <div class="mb-5 mx-2">
    <h1 class="text-2xl font-extrabold">People</h1>

    <%= render "shared/table", 
            head:      'people_head', 
            item_row:  'people_row', 
            collection: @people %>

    <br>
    <%== pagy_nav(@pagy) %>

    <hr class="border-1 border-gray-700" />
    <br>

    <%= link_to 'New Person', new_person_path, class: "text-lg font-medium link-hover" %>
  </div>

  <div class="w-auto mb-5 px-1 order-first sm:order-last">
    <%= render "filter" %>
  </div>
</div