<div class="grid grid-cols-12 grid-rows-12 gap-x-6 gap-y-2">
  <div class="row-start-1 col-span-4 max-h-fit bg-green-400">
    <h1 class="text-2xl font-extrabold">People</h1>
  </div>

  <div class="row-start-2 col-span-12 max-h-fit bg-yellow-400">
    <div class='flex-row flex-nowrap max-h-fit'>
      <div class='flex-auto'>
        <%= render "shared/table2", 
                head: 'people_head1', 
                item_row:  'people_row1', 
                collection: @people %>
      </div>
      
      <div class='flex-auto' >
        <%= render "search_form" %>
      </div>
    </div>
  </div>

  <div class='row-start-3 col-span-12 max-h-fit bg-gray-400'>
    <%== pagy_nav(@pagy) %>
  </div>

  <div class='row-start-4 col-span-12 max-h-fit bg-gray-400'>
    <hr class="border-1 border-gray-700 my-2" />
    <%= link_to 'New Person', new_person_path, class: "text-lg font-medium hover:font-extrabold" %>
  </div>
</div>
