<div class="grid grid-cols-12 gap-x-6 gap-y-2">
  <div class="col-start-2 col-span-9 bg-red-400">
    <h1 class="text-2xl font-extrabold">People</h1>

    <%= render "shared/table", 
            head: 'people_head', 
            item_row:  'people_row', 
            collection: @people %>
    <br>
    <%== pagy_nav(@pagy) %>

    <hr class="border-1 border-gray-700" />
    <br>

    <%= link_to 'New Person', new_person_path, class: "text-lg font-medium hover:font-extrabold" %> 
  </div>

  <div class="col-start-11 col-span-2" >
    <%= render "search_form" %>
  </div>
</div>