<div role="main" class="w-full h-full flex-grow p-3 flow-root">
  <div class="flex-auto w-fit bg-green-400">
    <h1 class="text-2xl font-extrabold">People</h1>
  </div>

  <div class="flex-auto w-full min-h-full -mt-6 bg-yellow-400">
    <%= render "shared/table", 
            head: 'people_head1', 
            item_row:  'people_row1', 
            collection: @people %>
  </div>

  <div class='flex-auto w-full min-h-fit my-2 bg-gray-400'>
    <%== pagy_nav(@pagy) %>
  </div>

  <div class='flex-auto w-full max-h-fit my-2 bg-gray-400'>
    <hr class="border-1 border-gray-700" />
    <%= link_to 'New Person', new_person_path, class: "text-lg font-medium hover:font-extrabold" %>
  </div>
</div>


<div class="sm:w-2/5 md:w-1/3 w-full flex-shrink flex-grow-0 order-first sm:order-last px-2">
    <div class="sticky top-0 w-full">
        <%= render "search_form" %>
    </div>
</div>
