<div class="max-w-4xl mb-5">
  <h1 class="text-2xl font-extrabold">New Person</h1>

  <%= render 'shared/form', mdl: @person %>

  <hr class="border-1 border-gray-700" />

  <%= link_to 'Persons List', people_path, class: "text-lg link-hover" %>
</div>