<div class="flex items-center justify-center">
  <div class="w-3/4 min-w-max bg-white rounded-lg">
    <h2 class="text-lg font-sans font-medium mb-1">Filter for Houses</h2>

    <%= render "houses/filter/search_form" %>

  </div>
</div>
