<div class="max-w-4xl mb-5">
    <h1 class="text-2xl font-extrabold">Edit House</h1>

    <%= render 'shared/form', mdl: @house, editing: true %>

    <hr class="border-1 border-gray-700" />

    <%= link_to 'House Detail', house_detail_path(@house), class: "text-lg link-hover" %> |
    <%= link_to 'Houses List', houses_path, class: "text-lg link-hover" %>

  </div>
</div>