<div class='flex flex-col sm:flex-row items-center justify-center'>
  <div class="mb-5 mx-2">
    <h1 class="text-2xl font-sans font-bold">Houses</h1>

    <%= render "shared/table", 
            head:      'houses_head',
            item_row:  'houses_row', 
            collection: @houses %>

    <br>
    <%== pagy_nav(@pagy) %>

    <hr class="border-1 border-gray-700" />
    <br>

    <%= link_to 'New House', new_house_path, class: "text-lg font-medium link-hover" %>
  </div>

  <div class="w-auto mb-8 px-1 order-first sm:order-last">
    <%= render "filter" %>
  </div>
</div>