<div class='flex flex-col sm:flex-row items-center justify-center'>
  <div class="mb-5 mx-2">
    <div class="flex flex-row justify-between">

      <h1 class="font-sans font-bold text-2xl">Houses</h1>

      <div class="group inline-block focus:block relative">
        <button class="p-4 font-sans font-bold text-1xl text-black bg-gray-100 rounded-md border-none">Filter</button>
        <div class="hidden group-hover:block absolute min-w-full right-0 z-10 rounded-xl">
          <%= render "filter" %>
        </div>
      </div>
      
    </div>

    <%= render "shared/table", 
            head:      'head',
            item_row:  'row', 
            collection: @houses 
    %>

    <br>
    <%== pagy_nav(@pagy) %>

    <hr class="mt-1 border-1 border-gray-700" />
    <br>

    <%= link_to 'New House', new_house_path, class: "text-lg font-sans font-medium link-hover" %>
  </div>
</div>