<div class="max-w-4xl mb-5">
    <h1 class="text-2xl font-extrabold">New House</h1>

    <%= render 'shared/form', mdl: @house, editing: false %>

    <hr class="border-1 border-gray-700" />

    <%= link_to 'Houses List', houses_path, class: "text-lg link-hover" %>
</div>