<div class="col-span-2 mt-4"> 
  <%= render 'shared/form/label', lblfor: item, lbltxt: label %>    
  <div class="mt-2">
    <%= f.check_box(item, class: 'checkbox ring shadow-sm') %>
  </div>
</div>
