  <div class='col-span-2 mt-4'>
    <%= render 'shared/form/label', lblfor: item, lbltxt: label %>    
    <div class='mt-2'>
      <%= f.password_field(item, 
            id: item,
            class: 'base-field py-1.5 sm:text-sm sm:leading-6 placeholder:text-gray-400 ring',
            placeholder: "#{@minimum_password_length.to_s + ' characters minimum' if @minimum_password_length && item == :password }",
            autocomplete: autocomplete) %>
    </div>
  </div>
