<%= form_with(model: mdl, local: true) do |form| %>
  <% present(mdl) do |m| %>
    <%  m.form = form %>
    <div class="border-b border-gray-900/10 pb-11"> <!-- grid_container -->
      <div class="grid grid-cols-6 mt-6 gap-x-3 gap-y-8">
        <% m.form_rows.each do |row| %>
          
            <% row[:elements].each do |elem|
                kind =  m.element_info[elem][:kind] %>
                <%= case kind
                    when :text           then render 'shared/form/text_attr',        elem: elem, mdl: m
                    when :password       then render 'shared/form/password_attr',    elem: elem, mdl: m
                    when :textarea       then render 'shared/form/textarea_attr',    elem: elem, mdl: m
                    when :checkbox       then render 'shared/form/checkbox_attr',    elem: elem, mdl: m
                    when :date           then render 'shared/form/date_attr',        elem: elem, mdl: m
                    when :select         then render 'shared/form/std_select_attr',  elem: elem, mdl: m
                    when :hidden         then render 'shared/form/hidden_attr',      elem: elem, mdl: m
                    when :submit         then render 'shared/form/submit',           elem: elem, mdl: m
                    when :button_to      then render 'shared/form/button_to',        elem: elem, mdl: m
                    when :submit_or_cncl then render 'shared/form/submit_cncl',      elem: elem, mdl: m
                    when :col            then render 'shared/form/col',              elem: elem, mdl: m
                    else raise "Unknown kind #{kind}"
                    end
                %>
            <% end %>
          
        <% end %> <!-- form_rows -->
      </div>

    </div> <!-- grid_container -->
  <% end %> <!-- presenter -->
<% end %> <!-- form -->

