  <div class="mt-8 flow-root justify-center">
    <div class="-mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full">
          <thead>
            <%= render head %>
          </thead>
          <tbody class="bg-white">
            <% collection.each_with_index do |item, i| %>
              <% background = i.even? ? 'bg-white' : 'bg-gray-200' %>
              <%= render item_row, item: item, background: background %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
