<% present(item) do |item| %>
  <tr class='<%= background %>' >
    <td class='pl-6 font-sans'><%= item.fullname %></td>
    <td class='pl-6 font-sans'><%= item.role %></td>
    <td class='pl-6 font-sans'><%= item.status %></td>
  </tr>
<% end %>