<% present(item) do |item| %>
  <tr class='<%= background %>' >

    <td class='td-pad'>
      <%= link_to item.house_address, contribution_path(item), class: "td-emphasized link-hover" %>
    </td>

    <td class='td-pad td-base'><%= item.date_paid %></td>
    <td style="text-align:right" class='td-pad td-base'><%= humanized_money_with_symbol(item.amount) %></td>

  </tr>
<% end %>