    <div class="max-w-4xl mb-5">
      <h1 class="text-2xl font-extrabold">Edit Contribution</h1>

      <%= render 'shared/form', mdl: @contribution %>

      <hr class="border-1 border-gray-700" />

      <%= link_to 'Details', @contribution, class: "text-lg link-hover" %> |
      <%= link_to 'House Detail', house_detail_path(@contribution.house_id), class: "text-lg link-hover" %> |
      <%= link_to 'Contributions List', contributions_path, class: "text-lg link-hover" %>
    </div>