<div class="max-w-4xl mb-5">
  <h1 class="text-2xl font-extrabold">Contributions</h1>

  <%= render "shared/table", 
          head: 'contributions_head', 
          item_row:  'contributions_row', 
          collection: @contributions %>
  <br>
  <%== pagy_nav(@pagy) %>

  <hr class="border-1 border-gray-700" />
  <br>

  <%= link_to 'New Contribution', new_contribution_path, class: "text-lg font-medium link-hover" %> 
</div>