<% present(item) do |item| %>
  <tr class='<%= background %> h-4' >
    <td class='text-base font-sans'><%= item.owner_name %></td>
    <td class='pb-1'><%= link_to 'Ownership Detail', item, class: "td-emphasized link-hover" %></td>
  </tr>
<% end %>