<tr>
	<th scope="col" class="relative isolate py-3.5 pl-4 sm:pl-3 pr-3 text-left text-sm text-gray-900 font-semibold">
	  Person
	  <div class="absolute inset-y-0 right-full -z-10 w-screen border-b border-b-gray-200"></div>
      <div class="absolute inset-y-0 left-0 -z-10 w-screen border-b border-b-gray-200"></div>
    </th>
	<th scope="col" class="py-3.5 px-3 text-left text-sm text-gray-900 font-semibold">Address</th>
	<th scope="col" class="hidden lg:table-cell py-3.5 px-3 text-left text-sm text-gray-900 font-semibold">Type</th>
	<th scope="col" class="hidden lg:table-cell py-3.5 px-3 text-left text-sm text-gray-900 font-semibold">Preferred</th>
	<th scope="col" class="hidden lg:table-cell py-3.5 px-3 text-left text-sm text-gray-900 font-semibold">Note</th>
	<th colspan="3"></th>
</tr>
