<div class="grid grid-cols-12 grid-rows-12 gap-x-6 gap-y-2">
  <div class="row-start-1 col-span-12 bg-red-400">
      <h1 class="text-2xl font-extrabold">Addresses</h1>
      <%= render "shared/table2", 
              head: 'addresses_head1', 
              item_row:  'addresses_row1', 
              collection: @addresses %>
  </div>

  <div class='row-start-2 col-span-12 max-h-fit bg-gray-400'>
    <%== pagy_nav(@pagy) %>
    <hr class="border-1 border-gray-700 my-2" />
    <%= link_to 'New Address', new_address_path, class: "text-lg font-medium hover:font-extrabold" %>
  </div>
</div>
