<div class='flex flex-col sm:flex-row items-center justify-center'>
  <div class='mb-5 mx-2'>
    <div class="flex flex-row justify-between">
      <h1 class="font-sans font-bold text-2xl">Addresses</h1>
    </div>

    <%= render "shared/table", 
            head: 'head', 
            item_row:  'row', 
            collection: @addresses 
    %>

    <br>
    <%== pagy_nav(@pagy) %>

    <hr class="mt-1 border-1 border-gray-700" />
    <br>

    <%= link_to 'New Address', new_address_path, class: "text-lg font-sans font-medium link-hover" %> 
  </div>
</div>
