  <% info = mdl.element_info[elem] %>
  <div class="mx-4 mb-5 min-w-0">
    <label  for=<%= info[:lblfor] %>
            class="block pl-3 pt-1 text-gray-900 font-semibold leading-3">
      <%= info[:lbltxt] %>
      <%= mdl.form.password_field( elem, 
            class: "block w-full mt-2 p-3 text-gray-900 font-medium rounded-md border-0 shadow ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 placeholder:text-gray-400" ) %>
    </label>
  </div>