  <% info = mdl.element_info[elem] %>

  <div class="col-span-<%= info[:span] %>" > 
    <%= render 'shared/form/label', lblfor: info[:lblfor], lbltxt: info[:lbltxt] %>
    
    <%= mdl.form.select(  elem, info[:collection],
          { include_blank: info[:blank], 
            prompt: info[:prompt],
            selected: mdl.send(elem) || info[:default] },                        
          { class: "block mt-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6",
            disabled: info[:disabled] }) 
    %>
  </div>