<% present(@person) do |person| %>
<div class='flex flex-col sm:flex-row items-center justify-center'>
  <div class='mb-5 mx-2'>
    <div class="flex flex-row justify-between">
      <h1 class="font-sans font-bold text-2xl"><%= person.fullname %></h1>
    </div>

    <div class="flex flex-row justify-between">
      <h1 class="font-sans font-bold text-2xl">Phone Numbers</h1>
    </div>

    <%= render "shared/table",
            head: 'head',
            item_row:  'row',
            collection: @ph_nums
    %>

    <hr class="mt-1 border-1 border-gray-700" />
    <br>

    <div class="flex flex-row justify-between">
      <%= render 'shared/new_edit/link_btn', label: 'Person', path: person_path(@person), color: 'gray' %>
      <%= render 'shared/new_edit/link_btn', label: 'New Phone', path: new_phone_path(@person), color: 'red' %>
    </div>
  </div>
</div>
<% end %>