@tailwind base;
@tailwind components;
@tailwind utilities;

.link-hover {
  @apply underline hover:text-red-600;
}

.submit-focused {
  @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}

.submit-button {
  @apply px-3 py-2 rounded-md text-white text-sm font-semibold shadow-sm bg-indigo-600 hover:bg-indigo-500 submit-focused;
}

.td-pad {
  @apply py-1.5 px-3;
}

.td-base {
  @apply text-left text-base text-gray-500 font-sans whitespace-nowrap;
}

.td-emphasized {
  @apply text-left text-base text-gray-900 font-sans font-medium whitespace-nowrap;
}

.th-pad {
  @apply py-2 px-3;
}

.th-base {
  @apply text-left text-base text-gray-900 font-sans font-semibold;
}

.ring {
  @apply ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600;
}

.base-field {
  @apply block w-full min-w-full mt-2 p-3 text-gray-900 font-medium rounded-md border-0 shadow;
}

.disabled-field {
  @apply block w-full min-w-full mt-2 p-3 text-gray-500 font-medium rounded-md border-0 shadow;
}

.form-field-label {
  @apply block pl-3 pt-1 text-gray-900 font-semibold leading-3;
}

/* 
   Add the following markup AFTER your import statements
   Notice: this style contains all the rules for pagy-nav, pagy-nav-js and pagy-combo-nav-js
*/

.pagy-nav,
.pagy-nav-js {
  @apply flex space-x-2;
}

.pagy-nav .page a,
.pagy-nav .page.active,
.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page a,
.pagy-nav-js .page.active,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply block rounded-lg px-3 py-1 text-sm text-gray-500 font-semibold bg-gray-200 shadow-md;
  &:hover {
    @apply bg-gray-300;
  }
  &:active {
    @apply bg-gray-400 text-white;
  }
}

.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply text-gray-400 cursor-default;
  &:hover {
    @apply text-gray-400 bg-gray-200;
  }
  &:active {
    @apply text-gray-400 bg-gray-200;
  }
}

.pagy-nav .page.active,
.pagy-nav-js .page.active {
  @apply text-white cursor-default bg-gray-400;
  &:hover {
    @apply text-white bg-gray-400;
  }
  &:active {
    @apply bg-gray-400 text-white;
  }
}

.pagy-combo-nav-js {
  @apply flex max-w-max rounded-full px-3 py-1 text-sm text-gray-500 font-semibold bg-gray-200 shadow-md;
}

.pagy-combo-nav-js .pagy-combo-input {
  @apply bg-white px-2 rounded-sm;
}

.pagy-combo-nav-js .page.prev,
.pagy-combo-nav-js .page.next {
  &:hover {
    @apply text-gray-800;
  }
  &:active {
    @apply text-gray-800;
  }
}

.pagy-combo-nav-js .page.prev.disabled,
.pagy-combo-nav-js .page.next.disabled {
  @apply text-gray-400 cursor-default;
}
