    <div class="max-w-4xl mb-5">
      <h1 class="text-2xl font-extrabold">Edit Email</h1>

      <%= render 'shared/form', mdl: @email %>

      <hr class="border-1 border-gray-700" />

      <%= link_to 'Detail', @email, class: "text-lg link-hover" %> |
      <%= link_to 'Person Detail', person_detail_path(@email.person_id), class: "text-lg link-hover" %> |
      <%= link_to 'Emails List', emails_path, class: "text-lg link-hover" %>
    </div>
