<div class="max-w-4xl mb-5">
  <h1 class="text-2xl font-extrabold">Email Addresses</h1>

  <%= render "shared/table", 
          head: 'emails_head', 
          item_row:  'emails_row', 
          collection: @emails %>
  <br>
  <%== pagy_nav(@pagy) %>

  <hr class="border-1 border-gray-700" />
  <br>

  <%= link_to 'New Email', new_email_path, class: "text-lg font-medium link-hover" %> 
</div>