<div class="grid grid-cols-1 sm:grid-cols-6 mt-2 gap-x-6 gap-y-2">
  <div class="col-start-1 col-end-6 sm:col-start-2">

    <h1 class="text-2xl font-extrabold">New Email</h1>

    <%= render 'shared/form', mdl: @email %>

    <hr class="border-1 border-gray-700" />

    <% if @email.person_id %>
      <%= link_to 'Person Detail', person_detail_path(@email.person_id) %> |
     <% end %>
    <%= link_to 'Emails List', emails_path, class: "text-lg" %>

  </div>
</div>