<header data-controller="navbar" data-navbar-state-value="false">
  <nav class="flex flex-wrap w-full px-4 py-4 md:py-0 items-center justify-between text-lg text-gray-700 bg-white">
    <%= render "layouts/navbar/logo" %>
    <%= render "layouts/navbar/hamburger" %>
    <%= render "layouts/navbar/menu" %>
  </nav>
</header>
