<div class="group relative inline-block">
  <button class="bg-teal-500 group-hover:bg-teal-300 text-white px-2 text-base border-0">Person Admin</button>
  <div class="hidden group-hover:block absolute bg-gray-300 min-w-fit z-10">
    <%= link_to "Addresses", addresses_path, class: "text-sm text-black no-underline hover:bg-indigo-300 px-4 py-1 block" %>
    <%= link_to "Emails", emails_path, class: "text-sm text-black no-underline hover:bg-indigo-300 px-4 py-1 block" %>
    <%= link_to "Phones", phones_path, class: "text-sm text-black no-underline hover:bg-indigo-300 px-4 py-1 block" %>
  </div>
</div> 