<div class="group relative inline-block">
  <div class="flex space-x-2 items-center">
    <div class="">Person Admin</div>
    <div class=" text-3xl cursor-pointer"
         data-action="click->dropdown#toggle"
         role="button">&#9776;
    </div>
  </div>

  <div class="absolute hidden bg-green-100 w-full h-80 overflow-y-auto"
        data-dropdown-target="content">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
      <li>
        <%= link_to "Addresses", addresses_path, class: "text-sm text-black no-underline hover:bg-indigo-300 px-4 py-1 block" %>
      </li>
      <li>
        <%= link_to "Emails", emails_path, class: "text-sm text-black no-underline hover:bg-indigo-300 px-4 py-1 block" %>
      </li>
      <li>
        <%= link_to "Phones", phones_path, class: "text-sm text-black no-underline hover:bg-indigo-300 px-4 py-1 block" %>
      </li>
    </ul>
  </div>
</div> 

