<div class="group relative inline-block">
  <button class="bg-teal-500 group-hover:bg-teal-300 text-white px-2 text-base border-0">
  	<%= User.find(current_user.id).std_name if current_user %>
  </button>
  <div class="hidden group-hover:block absolute bg-gray-300 min-w-fit z-10">
		<%= link_to "Log out", destroy_user_session_path, 
        data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, 
        class: "text-sm text-black no-underline hover:bg-indigo-300 px-4 py-1 block" %>

		<div class="dropdown-divider"></div>

		<%= link_to "Edit Profile", edit_user_registration_path, 
        class: "text-sm text-black no-underline hover:bg-indigo-300 px-4 py-1 block" %>
  </div>
</div> 